Source: python-types-six
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>= 11), dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.3
Homepage: https://github.com/python/typeshed
X-Python3-Version: >= 3.7
Vcs-Browser: https://github.com/pexip/os-python-types-six
Vcs-Git: https://github.com/pexip/os-python-types-six.git


Package: python3-types-six
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Typing stubs for six
 This is a PEP 561 type stub package for the six package. It can be
 used by type-checking tools like mypy, PyCharm, pytype etc. to check
 code that uses six. The source for this package can be found at
 https://github.com/python/typeshed/tree/master/stubs/six. All
 fixes for types and metadata should be contributed there.
 .
 See https://github.com/python/typeshed/blob/master/README.md for
 more details.
